body {
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}
.orange {
  color: orange;
}
section {
  display: flex;
  padding-left: 2%;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 60%;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  border-radius: 5%;
  padding: 10px 30px;
  font-weight: 700;
}
