body {
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange {
  color: orange;
}
.flexible-container {
  display: flex;
  padding-left: 2%;
  padding-bottom: 100px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 70%;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  border-radius: 5%;
  padding: 10px 30px;
  font-weight: 700;
}

.dream-bg {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}

.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
}
#fullStack {
  border-left: 7px solid tomato;
}

#babyWeb {
  border-left: 7px solid blue;
}
footer p{
  text-align: center;
}